.container-fluid {
  width: 80%;
}

.nowrap {
  white-space: nowrap;
}

li.repo {
  display: inline;
  margin-right: 8px;
  margin-left: 8px;
}

li.repo:first-child {
  margin-left: 0;
}

pre {
  word-wrap: normal;
}

.row h3 {
  padding-bottom: 3px;
  border-bottom: 1px solid #000;
}

.hero-unit h3 {
  border: none;
}

input.form-control {
  margin-bottom: 4px;
}

.small-text {
  font-size: 8pt;
}
