<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>OmegaPM</title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="static/css/style.css"/>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="hero-unit">
          <h1>Ωpm <small>omega package manager</small></h1>
          <h3>check for signed messages from package developers</h3>
        </div>
      </div>
      <div class="row">
        <h3>1.0.0 - what is Ωpm today?</h3>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>Dependency checker</h4>
          <p>Check for updates from any of your dependencies with one command: <pre>omegapm status</pre></p>
        </div>
        <div class="col-md-4">
          <h4>Secure</h4>
          <p>OmegaPM checks that the PGP signature on each message matches the public key in the module downloaded to your computer.</p>
          <p>That means that OmegaPM, NPM, and other third parties cannot fake messages after a package is downloaded.</p>
        </div>
        <div class="col-md-4">
          <h4>NodeJS and Ruby</h4>
          <p>This release is being made available for NodeJS and Rails apps.</p>
        </div>
      </div>
      <div class="row">
        <h3>Installing</h3>
        <div class="col-md-6">
          <h4>CLI</h4>
          <pre>npm install omegapm -g</pre>
          <h4>package.json</h4>
          <p>Add a public key:
            <pre>
              {
                "name": "omegapm",
                "publicKey": "key_file.asc"
              }
            </pre>
          </p>
        </div>
        <div class="col-md-6">
          <h4>Packages</h3>
          <a href="/packages">
            <h4>See who's using OmegaPM, and read more about adding public keys to your own packages.</h4>
          </a>
          <a href="/sign">
            <h4>Developers: add signed messages here</h4>
          </a>
        </div>
        <br/>
        <br/>
      </div>
      <div class="row">
        <h3>1.1.0+ - what's next?</h3>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h4>Open Standards</h4>
          <p>Ωpm should be able to read messages from a git repo, if their commits are signed with
            <span class="nowrap">'git commit -S'</span>.
          </p>
        </div>
        <div class="col-md-4">
          <h4>Beating Metadata</h4>
          <p>Padding and combining messages would keep third parties from knowing what you're reading.</p>
        </div>
        <div class="col-md-4">
          <h4>HTTPS and Tor</h4>
          <p>I launched before becoming HTTPS-ready. Got to work on that.</p>
          <p>Ωpm should have a hidden service on Tor so package developers and users can communicate without being in the open.</p>
        </div>
      </div>
      <div class="row">
        <h3>Join in on GitHub</h3>
        <li class="repo">
          <a href="https://github.com/mapmeld/omegapm">OmegaPM - NodeJS repo</a>
        </li>
        /
        <li class="repo">
          <a href="https://github.com/mapmeld/omegapm-ruby">OmegaPM - Rails repo</a>
        </li>
      </div>
      <div class="row">
        <h4>Thanks to</h4>
        <p>
          <a href="http://keybase.io">Keybase</a> for their awesome directory-signing tool,
          Mike Gerwitz for <a href="http://mikegerwitz.com/papers/git-horror-story">explaining git-repo-signing</a> so well,
          and João Jerónimo for <a href="https://github.com/joaojeronimo/rimrafall#rimrafall">testing npm</a>.
          Their feedback on this project was helpful and informative.
        </p>
      </div>
      <div class="row">
        <h4>Contact Me</h4>
        <p>I'm Nick Doiron, a traveling web developer and mapmaker.
          <br/>
          - Write me an e-mail: <a href="mailto:ndoiron@mapmeld.com">ndoiron@mapmeld.com</a>
          <br/>
          - Tweet: <a href="https://twitter.com/mapmeld">@mapmeld</a>
        </p>
        <br/><br/><br/><br/>
      </div>
    </div>
  </body>
</html>
